%main.main#main
  = render 'partials/vision'
  = render 'partials/squad'
  = render 'partials/timeline'
  = render 'partials/clients'

  = render 'partials/process'

  = render 'partials/projects/main'
  = render 'partials/events'