= render "vision"
= render "partials/projects/main"
= render "partials/about/clients"
= render "partials/about/team"
= render "partials/about/timeline"
= render "partials/events/main"
= render "partials/contact/main"

= render "partials/projects/sections/image_modal"
