%main.main#main
  = render 'partials/about/vision'
  = render 'partials/about/squad'
  = render 'partials/about/timeline'
  = render 'partials/about/clients'

  = render 'partials/projects/main'
  = render 'partials/events/main'
  = render 'partials/contact/main'

= render 'partials/projects/sections/image_modal'