= form_tag '/contact', method: :post do
  .input
    = text_field_tag 'name', nil, id: 'contact_name', placeholder: 'Name'
  .input
    = email_field_tag 'email', nil, id: 'contact_email', placeholder: 'Email'
  .input
    = text_field_tag 'message', nil, id: 'contact_message', placeholder: 'Message'

  = button_tag 'Send', type: 'submit', data: {disable_with: 'Sending...'}