!!!
%html{lang: "en"}
  %head
    %title Monster VR
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    = csrf_meta_tags
    = stylesheet_link_tag "mobile"
    = javascript_include_tag "mobile"
    = analytics_include_tag
    = favicon_link_tag "favicon.ico"

  %body{ontouchstart: ""}
    = render "layouts/navbar"

    %main.main#main
      = render "layouts/navbar_toggle"
      = yield
      = render "layouts/footer"
