!!!
%html{lang: "en"}
  %head
    %title Monster VR
    = csrf_meta_tags
    = stylesheet_link_tag "desktop"
    = javascript_include_tag "desktop"
    = analytics_include_tag
    = favicon_link_tag "favicon.ico"

  %body{data: {spy: "scroll", target: "#nav"}}
    = render "layouts/navbar"

    %main.main#main
      = yield
      = render "layouts/footer"
